<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Generate and Edit Text</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css'
    />
    <style>
      body { background-color: #f9f9f9; } .CodeMirror { border: 1px solid #ddd;
      height: auto; } #preview { border: 1px solid #ddd; padding: 10px;
      margin-top: 10px; } #editor-container { display: none; }
      #generated-content { display: flex; flex-direction: column; align-items:
      center; } #generated-content img { width: 100%; } #generated-content
      .text-content { width: 100%; } .button { display: block; width: 200px;
      padding: 10px 20px; margin: 20px auto; background: linear-gradient(to
      bottom, #999, #fff); color: #333; margin-top: 50px; border: none;
      border-radius: 5px; cursor: pointer; font-size: 16px; text-align: center;
      text-decoration: none; transition: background-color 0.3s; } .form-info {
      padding: 8px; margin: 5px; } .loader { border: 16px solid #f3f3f3;
      border-radius: 50%; border-top: 16px solid #7d848a; width: 120px; height:
      120px; animation: spin 2s linear infinite; display: none; margin: 20px
      auto; } @keyframes spin { 0% { transform: rotate(0deg); } 100% {
      transform: rotate(360deg); } }
    </style>
  </head>
  <body>
    <div
      style='font-family: Arial, sans-serif; margin: 20px; padding: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #f9f9f9;'
    >
      <div style='display: flex; align-items: center; flex-direction: column;'>
        <h1>Generate Blog Post using AI power</h1>
        <form
          id='generateForm'
          action='/generate'
          method='post'
          style='display: flex; flex-direction: column'
        >
          <label class='form-info' for='description'>Description:</label>
          <textarea
            class='form-info'
            type='text'
            id='description'
            name='description'
            placeholder='Main description'
            cols='40'
            rows='5'
            required
          ></textarea>
          <label class='form-info' for='additional'>Additional information:</label>
          <textarea
            class='form-info'
            name='additional'
            id='additional'
            placeholder='Additional information'
            cols='40'
            rows='5'
          ></textarea>
          <button class='button' type='submit'>Generate</button>
        </form>
        <div id='loader' class='loader'></div>
      </div>
      {{#if htmlContent}}
        <div id='generated-content'>
          <h2>Generated Post</h2>
          {{#if image}}
            <div style='display: flex; justify-content: center;'>
              <img src='{{image}}' alt='Generated Image' />
            </div>
          {{else}}
            <div style='display: flex; justify-content: center;'>
              <img src='/placeholder.png' alt='Placeholder Image' />
            </div>
          {{/if}}
          <div class='text-content'>
            {{{htmlContent}}}
          </div>
        </div>
        <button class='button' id='editButton'>Edit Post</button>
        <button
          style='display: none; margin-right: auto; margin-bottom: 20px; border-radius: 6px; padding: 5px'
          id='regenerateButton'
        >Regenerate Image</button>
        <form
          id='regenerateForm'
          action='/regenerate-image'
          method='post'
          style='display: none;'
        >
          <input id='postId' type='hidden' name='postId' value='{{postId}}' />
          <input id='image' type='hidden' name='image' value='{{image}}' />
        </form>
        <div id='editor-container' style='display:none;'>
          <form id='contentForm' action='/save-content' method='POST'>
            <input id='postId' type='hidden' name='postId' value='{{postId}}' />
            <input id='image' type='hidden' name='image' value='{{image}}' />
            <textarea
              id='content'
              name='content'
              style='display:none;'
            >{{{htmlContent}}}</textarea>
            <div id='editor'></div>
            <br />
            <button class='button' type='submit'>Save</button>
          </form>
          <h2>Preview</h2>
          <div id='preview'></div>
        </div>
      {{/if}}
      <script
        src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js'
      ></script>
      <script
        src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js'
      ></script>
      <script>
        if (document.getElementById("content")) { const editorContainer =
        document.getElementById("editor-container"); const editButton =
        document.getElementById("editButton"); const regenerateButton =
        document.getElementById("regenerateButton"); const regenerateForm =
        document.getElementById("regenerateForm"); const editor =
        CodeMirror(document.getElementById("editor"), { value:
        document.getElementById("content").value.trim(), mode: "text/html",
        lineNumbers: false, }); function updatePreview() { const preview =
        document.getElementById("preview"); preview.innerHTML =
        editor.getValue(); } editor.on("change", updatePreview);
        updatePreview(); editButton.addEventListener("click", function () {
        editorContainer.style.display = "block"; editButton.style.display =
        "none"; regenerateButton.style.display = "block"; editor.focus();
        editor.setOption("theme", "default"); editor.refresh();
        editor.execCommand("goDocStart"); });
        regenerateButton.addEventListener("click", function () {
        regenerateButton.textContent = 'Regenerating...';
        regenerateForm.submit(); });
        document.getElementById("contentForm").addEventListener("submit",
        function () { document.getElementById("content").value =
        editor.getValue(); }); } // Show loader when the form is submitted
        document.getElementById("generateForm").addEventListener("submit",
        function() { document.getElementById("loader").style.display = "block";
        });
      </script>
    </div>
  </body>
</html>